<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <Properties>
        <property name="basePath">./test-output-result/logs</property>
    </Properties>

    <Appenders>
        <!-- Console Appender (Optional) -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Routing Appender for Per-Scenario Log File -->
        <Routing name="Routing">
            <Routes pattern="$${ctx:logFilename}">
                <Route>
                    <RollingFile name="PerScenarioLog"
                                 fileName="${basePath}/${ctx:logFilename}_${date:dd-MMM-yy}.log"
                                 filePattern="${basePath}/${ctx:logFilename}_%d{dd-MMM-yy}.log">
                        <PatternLayout pattern="%d{hh:mm:ss.SSS a} %-5level %logger{36}        - %msg%n"/>
                        <SizeBasedTriggeringPolicy size="1000KB"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Root level="Info">
            <AppenderRef ref="Routing"/>
            <!-- <AppenderRef ref="Console"/> -->
        </Root>
    </Loggers>
</configuration>
<!--<Root level ="Info">Here you can use multiple log levels All < Trace < Debug < Info < Warn < Error < Fatal < Off -->